#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.react-heading {
  font-size: 8rem;
  color: rgb(0, 208, 255);
  font-family: "Chewy", system-ui;
}

.text-header {
  font-family: "Sour Gummy", sans-serif;
  max-width: 65ch;
}

.header {
  height: 100vh;
}

.react {
  color: rgb(0, 208, 255);
  font-weight: 600;
}

.questions h2 {
  color: rgb(0, 208, 255);
}

.questions li {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.774);
  border-radius: 5px;
  border: rgba(0, 0, 0, 0.829) 1px solid;
  padding: 5px;
  width: 50vh;
  margin: 5px auto;
  font-family: "Sour Gummy", sans-serif;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
